<template>
    <header :class="[
        'flex flex-row justify-between items-center bg-white',
        'fixed top-0 z-10 w-full px-4 py-1 border-b border-zinc-200',
        hideHeader ? '-translate-y-full' : 'translate-y-0',
        'transition-transform ease-out duration-300',
    ]">
        <NuxtLink to="/">
            <StoreLogo width="80px" height="40px" />
        </NuxtLink>
        <NuxtLink to="/shopping-bag" v-if="shoppingBag.initialized"
            class="flex flex-row gap-2 relative overflow-visible">
            <svg class="cursor-pointer w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
            <span v-if="shoppingBag.items.length > 0"
                class="absolute text-xs font-bold rounded-full bg-black text-white text-center w-5 h-5 leading-5 -bottom-1 -right-2">
                {{ shoppingBag.items.length }}
            </span>
        </NuxtLink>
    </header>
</template>

<script setup>
import StoreLogo from './StoreLogo.vue';
const uiStore = useUiStore()
const { getShoppingBag: shoppingBag } = storeToRefs(uiStore)
const hideHeader = ref(false);

let lastScrollTop = 0;
const handleScroll = () => {
    const currentScrollTop = window.scrollY;
    // Determine if the header should be hidden based on the current scroll position and direction.
    hideHeader.value = currentScrollTop > 250 && currentScrollTop > lastScrollTop;
    // - `currentScrollTop > 250`: Ensure we are scrolled more than 250px down from the top.
    // - `currentScrollTop > lastScrollTop`: Ensure the user is scrolling downwards.
    lastScrollTop = currentScrollTop;
};

onMounted(() => {
    window.addEventListener('scroll', handleScroll);
});

onUnmounted(() => {
    window.removeEventListener('scroll', handleScroll);
});
</script>