<template>
  <NuxtImg :src="src" :alt="altText" :width="width" :height="height" />
</template>

<script setup lang="ts">
withDefaults(defineProps<{
  src?: string;
  altText?: string;
  width?: string;
  height?: string;
}>(), {
  src: '/images/logo.png',
  altText: 'The Store',
  width: '512px',
  height: '512px',
});
</script>