<template>
    <div class="flex flex-col gap-12 mt-8 opacity-0 animate-[reveal_1000ms_forwards]">
        <CategoryHeader :category="category" />
        <ProductList :categoryID="category.id" />
    </div>
</template>

<script setup lang="ts">
import type { Category } from '~/models/categories.models';

const route = useRoute()
const { data } = await useFetch(`/api/categories?category=${route.params.slug}`)
const category = ref<Category>(data.value)

useHead({
    title: `THE STORE | ${category.value.seoTitle || 'New Collection 2024'}`,
    meta: [
        {
            name: "description",
            content: `${category.value.seoDescription || "Latest trends in clothing for women, men & kids. Find new arrivals, fashion catalogs, collections & lookbooks every week."}`
        },
    ],
})
</script>