<template>
  <div class="flex flex-col gap-20 mt-8 opacity-0 animate-[reveal_1000ms_forwards]">
    <CategoryList />
    <ProductList />
  </div>
</template>

<script setup>
useHead({
  title: "THE STORE | New Collection 2024",
  meta: [
    {
      name: "description",
      content:
        "Latest trends in clothing for women, men & kids. Find new arrivals, fashion catalogs, collections & lookbooks every week.",
    },
  ],
})
</script>