<script setup>
import '@splidejs/vue-splide/css';
import '@splidejs/vue-splide/css/core';

useHead({
  title: "THE STORE | New Collection 2024",
  meta: [
    {
      name: "description",
      content:
        "Latest trends in clothing for women, men & kids. Find new arrivals, fashion catalogs, collections & lookbooks every week.",
    },
  ],
});
</script>

<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>
