<template>
    <div class="w-full flex flex-col gap-6">
        <div class="text-2xl">Summary</div>

        <div class="flex flex-col gap-2">
            <div class="flex justify-between">
                <div>Subtotal</div>
                <div>{{ total }}</div>
            </div>
            <div class="flex justify-between">
                <div>Discount</div>
                <div>{{ formatToLocalCurrency(0) }}</div>
            </div>
            <div class="flex justify-between">
                <div>Delivery</div>
                <div>{{ formatToLocalCurrency(0) }}</div>
            </div>
        </div>
        <div class="bg-zinc-200 h-[1px] w-full"></div>
        <div class="flex justify-between">
            <div class="font-bold">Total</div>
            <div class="font-bold">{{ total }}</div>
        </div>
        <Button @click="handlePlaceOrder" :disabled="isPending" :loading="isPending" title="Place Order"
            className="w-full"></Button>
    </div>
</template>

<script setup lang="ts">
import type { Product } from '~/models/products.models';
import { useUiStore } from '~/stores/ui';

const uiStore = useUiStore();

const props = defineProps<{
    items: Product[]
}>()

const isPending = ref(false);

const handlePlaceOrder = async () => {
    isPending.value = true;
    // simulate a delay as if the order is being placed
    await new Promise((resolve) => setTimeout(resolve, 2000));
    // clear the shopping bag
    uiStore.clearShoppingBag();
    // show a success message
    navigateTo('/order-completed');
    isPending.value = false;
}

const formatToLocalCurrency = (value: number, currency: string = 'RUB') => {
    return value.toLocaleString('ru-RU', {
        style: 'currency',
        currency
    }).replace(',', '.');
}

const total = computed(() => {
    return formatToLocalCurrency(props.items.reduce((acc, item) => {
        return acc + item.price;
    }, 0));
})
</script>