<template>
    <div class="w-full flex flex-col items-start xs:flex-row xs:items-center justify-between gap-4">
        <h1 class="text-xl font-bold">Shopping Bag</h1>
        <NuxtLink to="/shopping" class="text-sm underline hover:no-underline">Continue Shopping</NuxtLink>
    </div>
</template>