<template>
    <div class="w-full h-full">
        <div class="flex flex-col gap-4">
            <template v-if="items.length > 0">
                <div v-for="item in items" :key="item.id" :item="item" class="flex flex-row">
                    <NuxtImg :src="item.media.images[item.media.images.length - 1].image800pxUrl" width="200px"
                        class="h-full min-w-[120px] w-[25%]" />

                    <div :class="['relative w-full flex flex-col p-4 gap-12', 'md:grid md:grid-cols-2']">
                        <div class="flex flex-col gap-0">
                            <div class="font-bold">{{ item.name }}</div>
                            <div class="text-sm text-zinc-500">Quantity: 1</div>
                            <div class="text-sm text-zinc-500">STORE ID: {{ item.sku }}</div>
                        </div>
                        <div class="font-bold">{{ item.defaultDisplayedPriceFormatted }}</div>
                        <svg @click="uiStore.removeFromShoppingBag(item.id)"
                            class="absolute top-4 right-0 cursor-pointer w-6 h-6 hover:text-zinc-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="flex flex-col gap-12 max-w-full w-[420px]">
                    <div class="text-zinc-400 text-xl mt-8">Your shopping bag is empty</div>
                    <NuxtLink to="/shopping" class="w-full">
                        <Button title="Continue Shopping" className="w-full"></Button>
                    </NuxtLink>
                </div>
            </template>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { Product } from '~/models/products.models';
const uiStore = useUiStore();
defineProps<{ items: Product[] }>()
</script>