<template>
    <div class="flex flex-col flex-1 gap-4">
        <Splide ref="mainSlider" :options="{
            arrows: false,
            pagination: false,
            type: 'fade',
        }">
            <SplideSlide v-for="image in images" :key="image.id">
                <img class="h-full w-full max-h-[65vh] object-contain cursor-pointer" :src="image.image1500pxUrl"
                    alt="Product image" />
            </SplideSlide>
        </Splide>

        <div class="w-[300px] mx-auto">
            <Splide ref="thumbnailSlider" :options="{
                arrows: false,
                pagination: false,
                perPage: Math.min(images!.length, 4),
                gap: 8
            }">
                <SplideSlide v-for="(image, index) in images" :key="image.id">
                    <img :src="image.image160pxUrl" alt="Product image" @click="selectProduct(index)" :class="[
                        'h-full w-full max-h-[80px] object-contain cursor-pointer',
                        activeIndex === index ? 'border border-black' : ''
                    ]" />
                </SplideSlide>
            </Splide>
        </div>
    </div>
</template>

<script setup lang="ts">
import { Splide, SplideSlide } from "@splidejs/vue-splide";
import type { ProductMediaImage } from "~/models/products.models";

const mainSlider = ref();
const thumbnailSlider = ref();
const activeIndex = ref(0);

// Sync main slider with thumbnail slider
onMounted(() => {
    mainSlider.value.sync(thumbnailSlider.value.splide);
    mainSlider.value.splide.on('active', ({ index }: { index: number }) => {
        activeIndex.value = index;
    });
});

const selectProduct = (index: number) => {
    mainSlider.value.splide.go(index);
    activeIndex.value = index;
    return index;
};

defineProps({
    images: Array<ProductMediaImage>,
});

defineComponent({
    components: {
        Splide,
        SplideSlide,
    },
});
</script>