<template>
    <NuxtLink :to="`/product/${product.id}`" :class="['relative w-full max-w-full flex flex-col']">
        <NuxtImg :v-if="mainImageUrl" :src="mainImageUrl" :alt="product.name" width="512px" height="512px"
            class="object-cover w-full aspect-[2/3]" />
        <NuxtImg :v-if="altImageUrl" :src="altImageUrl" :alt="product.name" width="512px" :class="[
            'absolute w-full object-cover w-full opacity-0 aspect-[2/3]',
            'hover:opacity-100 transition-opacity duration-300 ease-in-out',
        ]" />
        <span :v-if="product.name" class="px-2 pt-2">{{ product.name }}</span>
        <span :v-if="product.defaultDisplayedPriceFormatted" class="font-semibold px-2">{{
            product.defaultDisplayedPriceFormatted }}</span>
    </NuxtLink>
</template>

<script setup lang="ts">
import type { Product } from '~/models/products.models';

const props = defineProps<{ product: Product }>()
const mainImageUrl = computed<string | undefined>(() => {
    return props.product?.media.images?.find((media) => media.isMain)?.image1500pxUrl
})
const altImageUrl = computed<string | undefined>(() => {
    return props.product?.media.images?.filter((media) => !media.isMain)[0].image1500pxUrl
})
</script>