<template>
    <div class="flex flex-1 mx-auto md:mx-unset">
        <div class="flex flex-col w-full md:max-w-[360px] gap-8">
            <div class="flex gap-4 flex-col">
                <div class="text-xl font-bold">{{ product.name }}</div>
                <div class="text-xl font-semibold mt-2">{{ product.defaultDisplayedPriceFormatted }}</div>
                <div class="text-zinc-800 text-sm mt-2" v-html="product.description"></div>
            </div>
            <template v-if="!isProductInShoppingBag">
                <Button :handleClick="handleAddToBag" :disabled="isPending" :loading="isPending"
                    title="Add To Shopping Bag" className="w-full"></Button>
            </template>
            <template v-else>
                <div class="flex flex-col gap-4">
                    <div class="text-zinc-500 text-sm">This product is already in your shopping bag</div>
                    <NuxtLink to="/shopping-bag" class="w-full">
                        <Button title="Go To Shopping Bag" className="w-full"></Button>
                    </NuxtLink>
                    <NuxtLink to="/shopping" class="w-full">
                        <Button title="Continue Shopping" secondary className="w-full"></Button>
                    </NuxtLink>
                </div>
            </template>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { Product } from "~/models/products.models"

const uiStore = useUiStore()
const { getShoppingBag: shoppingBag } = storeToRefs(uiStore)
const props = defineProps<{ product: Product }>()
const isPending = ref(false);

const handleAddToBag = async () => {
    isPending.value = true
    // simulate a delay as if the product is being added to the shopping bag
    await new Promise((resolve) => setTimeout(resolve, 1000))
    uiStore.addToShoppingBag(props.product)
    isPending.value = false
}

const isProductInShoppingBag = computed(() => {
    return shoppingBag.value.items.some((item) => item === props.product.id)
})
</script>