<template>
    <div class="flex flex-col">
        <div class="bg-white w-screen ml-[-1rem] h-10 leading-10 px-4 border-t border-zinc-200 font-bold opacity-0]">
            {{ state.total }} products
        </div>
        <div :class="[
            'grid grid-cols-2 gap-x-4 gap-y-12',
            'sm:grid-cols-3 md:grid-cols-4',
            'lg:gap-x-8 lg:gap-y-24'
        ]">
            <ProductListItem v-for="product in state.items" :key="product.id" :product="product" />
        </div>
        <button v-if="showMoreButton" @click="handleLoadMoreProducts"
            class="cursor-pointer text-center font-bold underline hover:no-underline my-8">
            SHOW MORE
        </button>
    </div>
</template>

<script setup lang="ts">
import type { ApiResponse } from '~/models/api.models';
import type { Product } from '~/models/products.models';

const { categoryID } = defineProps<{ categoryID?: number }>();
const { data } = await useFetch(`/api/products${categoryID ? `?category=${categoryID}` : ''}`)
const state = ref({ ...(data.value || {}), isPending: false })

const showMoreButton = computed<boolean>(() => {
    return state.value.total > state.value.items.length;
})

const handleLoadMoreProducts = async () => {
    if (!state.value) return
    state.value.isPending = true

    const items = state.value.items || []
    const response = await $fetch<ApiResponse<Product[]>>(`/api/products?offset=${items.length}`)

    state.value = {
        ...response,
        items: [...items, ...response.items],
        isPending: false
    }
}
</script>