<template>
    <button @click="handleClick" :class="[
        secondary ? 'bg-white text-black border border-black hover:text-zinc-600' : 'bg-black text-white hover:text-zinc-300',
        'font-bold h-12 rounded transition-color duration-300 ease-in-out',
        disabled && 'opacity-50 pointer-events-none',
        className
    ]">
        <template v-if="!loading">{{ title }}</template>
        <div v-if="loading" class="flex items-center justify-center">
            <svg :class="['animate-spin -ml-1 mr-3 h-6 w-6', secondary ? 'text-black' : 'text-white']"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                </path>
            </svg>
        </div>
    </button>
</template>

<script setup lang="ts">
defineProps<{
    title: string,
    className?: string,
    secondary?: boolean,
    disabled?: boolean,
    loading?: boolean,
    handleClick?: () => any
}>()
</script>