<template>
  <div class="flex flex-col gap-8 mt-8 md:container md:mx-auto md:flex-row opacity-0 animate-[reveal_1000ms_forwards]">
    <ProductSlider :images="product.media.images" />
    <ProductCard :product="product" />
  </div>
</template>

<script setup lang="ts">
import type { Product } from "~/models/products.models";

const route = useRoute();
const { data } = await useFetch(`/api/products?id=${route.params.slug}`);
const product = ref<Product>(data.value);

useHead({
  title: `THE STORE | ${product.value.seoTitle || "New Collection 2024"}`,
  meta: [
    {
      name: "description",
      content: `${product.value.seoDescription ||
        "Latest trends in clothing for women, men & kids. Find new arrivals, fashion catalogs, collections & lookbooks every week."
        }`,
    },
  ],
});
</script>
