<template>
    <div class="flex items-center gap-2">
        <NuxtLink to="/shopping">
            <h1 class="text-xl font-bold text-gray-800">Shopping</h1>
        </NuxtLink>
        <span class="text-xl text-gray-400">/</span>
        <NuxtLink :to="`/shopping/${category.id}`">
            <h1 class="text-xl font-bold text-gray-800">{{ category.name }}</h1>
        </NuxtLink>
    </div>
</template>

<script setup lang="ts">
import type { Category } from '~/models/categories.models';
const { category } = defineProps<{ category: Category }>();
</script>