<template>
    <NuxtLink :to="`/shopping/${category.id}`" :class="[
        'relative w-full sm:w-[220px] max-w-full aspect-square text-center',
        'flex flex-col p-4 border border-slate-100',
        'transition-colors duration-200 ease-in-out',
    ]">
        <NuxtImg :v-if="category.thumbnailUrl" :src="category.thumbnailUrl" width="150px" height="150px"
            class="object-cover w-full" />
        <span :v-if="category.name" class="text-base md:text-lg tracking-wider">{{ category.name.toUpperCase() }}</span>
        <div :class="[
            'absolute w-full h-full top-0 left-0 bg-[rgba(0,0,0,.02)]',
            'hover:bg-[rgba(0,0,0,.04)] transition-colors duration-300 ease-in-out',
        ]"></div>
    </NuxtLink>
</template>

<script setup lang="ts">
import type { Category } from '~/models/categories.models'

defineProps<{ category: Category }>()
</script>