<template>
    <div class="md:container md:mx-auto flex flex-col gap-4 align-center">
        <div class="prose flex flex-row mx-auto items-center">
            <h3 class="m-0 mb-4">Categories</h3>
        </div>

        <div :v-if="categories.length" :class="[
            'max-w-full grid grid-cols-2 gap-4',
            'sm:w-full sm:flex sm:flex-row sm:flex-wrap sm:justify-center'
        ]">
            <CategoryListItem v-for="category in categories" :key="category.id" :category="category" />
        </div>
    </div>
</template>

<script setup>
import { useCategoriesStore } from '@/stores/categories'

const categoriesStore = useCategoriesStore()
categoriesStore.loadCategories()

const { getCategories } = storeToRefs(categoriesStore)
const categories = useState('categories', () => getCategories)
</script>