@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-VariableFont.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Arimo, sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100svh;
}

#__nuxt {
  width: 100%;
  margin: 0 auto;
}