<template>
    <div class="h-full">
        <Header></Header>
        <div class="pt-20 pb-80 px-4">
            <slot></slot>
        </div>
    </div>
</template>

<script setup>
import Header from '~/components/shared/Header.vue';

const uiStore = useUiStore();
uiStore.initShoppingBag();
</script>