<template>
    <div :class="[
        'flex flex-col items-center justify-center min-h-[100svh] pt-8 pb-12',
        'absolute top-0 left-0 right-0 md:container md:mx-auto',
        'opacity-0 animate-[reveal_1000ms_forwards]'
    ]">
        <div class="flex flex-col gap-8 items-center">
            <div class="aspect-square w-full">
                <Vue3Lottie :animationData="OrderCompletedJSON" :height="'100%'" :width="'100%'" />
            </div>
            <NuxtLink to="/shopping" class="w-[320px] max-w-full">
                <Button title="Continue Shopping" className="w-full"></Button>
            </NuxtLink>
        </div>
    </div>
</template>

<script setup lang="ts">
import { Vue3Lottie } from 'vue3-lottie'
import OrderCompletedJSON from '~/assets/animations/order-completed.json'

defineComponent({
    components: {
        Vue3Lottie,
    },
});
</script>