<template>
    <div class="md:container md:mx-auto flex flex-col gap-12 mt-8">
        <ShoppingBagHeader />
        <div :class="[
            'flex flex-col gap-8',
            'md:grid md:grid-cols-4'
        ]">
            <ShoppingBagItems class="md:col-span-3" :items="items" />
            <ShoppingBagSummary v-if="items.length > 0" :items="items" />
        </div>
    </div>
</template>

<script setup lang="ts">
import type { Product } from '~/models/products.models';
const uiStore = useUiStore();
const { getShoppingBag } = storeToRefs(uiStore);
const items = ref<Product[]>([]);

// Fetch the products in the shopping bag
const itemsInStore = getShoppingBag.value.items;
if (itemsInStore.length > 0) {
    const { data } = await useFetch(`/api/products?products=${itemsInStore.join(',')}`);
    items.value = data.value.items;
}

// sync the items in the shopping bag with the items in the store
uiStore.$subscribe((_, state) => {
    const currentItems = state.shoppingBag.items;
    items.value = items.value.filter((item) => currentItems.includes(item.id));
})

useHead({
    title: "THE STORE | Your Shopping Bag"
})
</script>